{% extends "base.html" %}
{% load i18n %}
{% block title %}Poll App Details{% endblock %}
{% load staticfiles %}
{% block js %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% autoescape on %}
    <div class="jumbotron">
        <h1>{{ question.question_text }}</h1>
        {% if error_message %}<p><strong class="lead">{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
            {% endfor %}
            <a class="btn btn-secondary" href="{% url 'polls:index' %}" >{% trans "back" %}</a>
            <input class="btn btn-primary" type="submit" value="{% trans "Vote" %} »"/>
        </form>
    </div>
                {% if latest_question_list %}
            <table id="index-tab" class="table table-striped info">
                <tr>
                    <th> {% if is_paginated %}
                        <ul class="no-padding pagination pagination-sm">
                            {% if page_obj.has_previous %}
                                <li><a class="pagi" href="/polls?page={{ page_obj.previous_page_number }}">
                                    <span>&laquo;</span>
                                </a></li>
                            {% else %}
                                <li class="disabled"><a class="pagi" href="#"><span>&laquo;</span></a></li>
                            {% endif %}
                            {% for field in page_obj.paginator.page_range %}
                                {% if field == page_obj.number %}
                                    <li class="active"><a>{{ field }}<span class="sr-only"></span></a></li>
                                {% else %}
                                    <li><a class="pagi" href="/polls?page={{ field }}">{{ field }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a class="pagi" href="/polls?page={{ page_obj.next_page_number }}">
                                    <span>&raquo;</span>
                                </a></li>
                            {% else %}
                                <li class="disabled"><a class="pagi" href="#"><span>&raquo;</span></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    </th>
                    <th>{% trans "choices" %}</th>
                    <th>{% trans "time" %} & {% trans "date" %}</th>
                    <th>{% trans "action's" %}</th>
                </tr>
                {% for question in latest_question_list %}
                    <tr>
                        <td>
                            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                        </td>
                        <td class="small">
                            <table class="table-condensed table-responsive small info">
                                {% for choice in question.choice_set.all %}
                                    <tr>
                                        <th id="thnr_{{ forloop.counter }}{{ question.id }}">
                                            {{ forloop.counter }}.
                                        </th>
                                        <th id="thch_{{ forloop.counter }}{{ question.id }}">
                                            {{ choice.choice_text }}
                                        </th>
                                        <th id="thv_{{ forloop.counter }}{{ question.id }}">
                                            <strong>{{ choice.votes }}</strong>

                                        </th>
                                        <th id="thv_2{{ forloop.counter }}{{ question.id }}">


                                            vote{{ choice.votes|pluralize }}
                                        </th>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                        <td>
                            {{ question.pub_date }}
                        </td>
                        <td>
                            <form method="post" action="{% url 'polls:delete_question' question.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="{% trans "delete" %}"/>
                                <a class="btn btn-sm btn-info"
                                   href="{% url 'polls:edit_question' question.pk %}">{% trans "edit" %}</a>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endautoescape %}
{% endblock %}


